# **PySpark Assignment**

In [1]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 64.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=d111aca8c86946c530e103f132b2300b35e1c6a0bc6fff221c542d82b5afc6db
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 20 not upgraded.
Need to get 36.6 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u352-ga-1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u352-ga-1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u352-ga-1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u352-ga-1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u352-ga-1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u352-ga-1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [3]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
import pyspark
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [4]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!sleep 10
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2022-12-16 10:20:04--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 18.205.222.128, 54.237.133.81, 52.202.168.65, ...
Connecting to bin.equinox.io (bin.equinox.io)|18.205.222.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  39.1MB/s    in 0.3s

2022-12-16 10:20:05 (39.1 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
https://552c-146-148-64-23.ngrok.io

In [5]:
from pyspark.sql.functions import approx_count_distinct,collect_list
from pyspark.sql.functions import collect_set,sum,avg,max,countDistinct,count
from pyspark.sql.functions import first, last, min, mean 
from pyspark.sql.functions import sumDistinct

In [6]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]

In [7]:
schema = ["employee_name", "department", "salary"]

In [8]:
df=spark.createDataFrame(data=simpleData, schema=schema)

In [9]:
df.printSchema()
df.show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [10]:
df.select(approx_count_distinct("salary")).show()

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            6|
+-----------------------------+

In [11]:
df.select(avg("salary")).show()

+-----------+
|avg(salary)|
+-----------+
|     3400.0|
+-----------+

In [12]:
df.select(collect_list("salary")).show()

+--------------------+
|collect_list(salary)|
+--------------------+
|[3000, 4600, 4100...|
+--------------------+

In [13]:
df.select(collect_set("salary")).show()

+--------------------+
| collect_set(salary)|
+--------------------+
|[4600, 3000, 3900...|
+--------------------+

In [15]:
df2=df.select(countDistinct("department","salary")).show()

+----------------------------------+
|count(DISTINCT department, salary)|
+----------------------------------+
|                                 8|
+----------------------------------+

In [16]:
df.select(count("salary")).show()

+-------------+
|count(salary)|
+-------------+
|           10|
+-------------+

In [17]:
df.select(count("salary")).show()

+-------------+
|count(salary)|
+-------------+
|           10|
+-------------+

In [18]:
df.select(first("salary")).show()

+-------------+
|first(salary)|
+-------------+
|         3000|
+-------------+

In [19]:
df.select(last("salary")).show()

+------------+
|last(salary)|
+------------+
|        4100|
+------------+

In [20]:
df.select(min("salary")).show()

+-----------+
|min(salary)|
+-----------+
|       2000|
+-----------+

In [21]:
df.select(max("salary")).show()

+-----------+
|max(salary)|
+-----------+
|       4600|
+-----------+

In [22]:
df.select(mean("salary")).show()

+-----------+
|avg(salary)|
+-----------+
|     3400.0|
+-----------+

In [23]:
df.select(sum("salary")).show()

+-----------+
|sum(salary)|
+-----------+
|      34000|
+-----------+

In [24]:
df.select(sumDistinct("salary")).show()

/usr/local/lib/python3.8/dist-packages/pyspark/sql/functions.py:316: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+--------------------+
|sum(DISTINCT salary)|
+--------------------+
|               20900|
+--------------------+

In [25]:
from google.colab import files
files.upload()

Saving sample_books.json to sample_books.json

{'sample_books.json': b'{"title": "Northanger Abbey", "author": "Austen, Jane", "year_written": 1814, "edition": "Penguin", "price":  18.2}\n{"title": "War and Peace", "author": "Tolstoy, Leo", "year_written": 1865, "edition": "Penguin", "price":  12.7}\n{"title": "Anna Karenina", "author": "Tolstoy, Leo", "year_written": 1875, "edition": "Penguin", "price":  13.5}\n{"title": "Mrs. Dalloway", "author": "Woolf, Virginia", "year_written": 1925, "edition": "Harcourt Brace", "price":  25}\n{"title": "The Hours", "author": "Cunnningham, Michael", "year_written": 1999, "edition": "Harcourt Brace", "price":  12.35}\n{"title": "Huckleberry Finn", "author": "Twain, Mark", "year_written": 1865, "edition": "Penguin", "price":  5.76}\n{"title": "Bleak House", "author": "Dickens, Charles", "year_written": 1870, "edition": "Random House", "price":  5.75}\n{"title": "Tom Sawyer", "author": "Twain, Mark", "year_written": 1862, "edition": "Random House", "price":  7.75}\n{"title": "A Room of One\'s Own", "author": "Woolf, Virginia", "year_written": 1922, "edition": "Penguin", "price":  29}\n{"title": "Harry Potter", "author": "Rowling, J.K.", "year_written": 2000, "edition": "Harcourt Brace", "price":  19.95}\n{"title": "One Hundred Years of Solitude", "author": "Marquez", "year_written": 1967, "edition": "Harper  Perennial", "price":  14.00}\n{"title": "Hamlet, Prince of Denmark", "author": "Shakespeare", "year_written": 1603, "edition": "Signet  Classics", "price":  7.95}\n{"title": "Lord of the Rings", "author": "Tolkien, J.R.", "year_written": 1937, "edition": "Penguin", "price":  27.45}\n'}

**1. Create a program to store json dataset and perform following:**

In [26]:
# Read JSON file into dataframe
df = spark.read.json("sample_books.json")
df.printSchema()

root
 |-- author: string (nullable = true)
 |-- edition: string (nullable = true)
 |-- price: double (nullable = true)
 |-- title: string (nullable = true)
 |-- year_written: long (nullable = true)

**1. Count number of records**

In [27]:
df.count()

13

**2. Show title,price of the book.**

In [28]:
df.show()

+--------------------+-----------------+-----+--------------------+------------+
|              author|          edition|price|               title|year_written|
+--------------------+-----------------+-----+--------------------+------------+
|        Austen, Jane|          Penguin| 18.2|    Northanger Abbey|        1814|
|        Tolstoy, Leo|          Penguin| 12.7|       War and Peace|        1865|
|        Tolstoy, Leo|          Penguin| 13.5|       Anna Karenina|        1875|
|     Woolf, Virginia|   Harcourt Brace| 25.0|       Mrs. Dalloway|        1925|
|Cunnningham, Michael|   Harcourt Brace|12.35|           The Hours|        1999|
|         Twain, Mark|          Penguin| 5.76|    Huckleberry Finn|        1865|
|    Dickens, Charles|     Random House| 5.75|         Bleak House|        1870|
|         Twain, Mark|     Random House| 7.75|          Tom Sawyer|        1862|
|     Woolf, Virginia|          Penguin| 29.0| A Room of One's Own|        1922|
|       Rowling, J.K.|   Harcourt Brace|19.95|        Harry Potter|        2000|
|             Marquez|Harper  Perennial| 14.0|One Hundred Years...|        1967|
|         Shakespeare| Signet  Classics| 7.95|Hamlet, Prince of...|        1603|
|       Tolkien, J.R.|          Penguin|27.45|   Lord of the Rings|        1937|
+--------------------+-----------------+-----+--------------------+------------+

In [29]:
df.select("title","price").show()

+--------------------+-----+
|               title|price|
+--------------------+-----+
|    Northanger Abbey| 18.2|
|       War and Peace| 12.7|
|       Anna Karenina| 13.5|
|       Mrs. Dalloway| 25.0|
|           The Hours|12.35|
|    Huckleberry Finn| 5.76|
|         Bleak House| 5.75|
|          Tom Sawyer| 7.75|
| A Room of One's Own| 29.0|
|        Harry Potter|19.95|
|One Hundred Years...| 14.0|
|Hamlet, Prince of...| 7.95|
|   Lord of the Rings|27.45|
+--------------------+-----+

**3. Show the records books which have been written after 1950 and price of book is greater than 10.**

In [48]:
df.createOrReplaceTempView("books")
spark.sql("select * from books where year_written>'1950' and price>10").show()

+--------------------+-----------------+-----+--------------------+------------+
|              author|          edition|price|               title|year_written|
+--------------------+-----------------+-----+--------------------+------------+
|Cunnningham, Michael|   Harcourt Brace|12.35|           The Hours|        1999|
|       Rowling, J.K.|   Harcourt Brace|19.95|        Harry Potter|        2000|
|             Marquez|Harper  Perennial| 14.0|One Hundred Years...|        1967|
+--------------------+-----------------+-----+--------------------+------------+

**4. Show the title ,price and year of books of question 3**

In [50]:
spark.sql("select title,price,year_written from books where year_written>'1950' and price>10").show()

+--------------------+-----+------------+
|               title|price|year_written|
+--------------------+-----+------------+
|           The Hours|12.35|        1999|
|        Harry Potter|19.95|        2000|
|One Hundred Years...| 14.0|        1967|
+--------------------+-----+------------+

**5. Count the number of question 4 records.**

In [51]:
spark.sql("select count(title,price,year_written) from books where year_written>'1950' and price>10").show()

+---------------------------------+
|count(title, price, year_written)|
+---------------------------------+
|                                3|
+---------------------------------+

**6. Show the title year written of 'Harry Potter' Book.**

In [53]:
spark.sql("select title,price,year_written from books where title='Harry Potter' ").show()

+------------+-----+------------+
|       title|price|year_written|
+------------+-----+------------+
|Harry Potter|19.95|        2000|
+------------+-----+------------+

**7. Find the costliest book.**

In [55]:
spark.sql("select * from books where title='costliest'").show()

+------+-------+-----+-----+------------+
|author|edition|price|title|year_written|
+------+-------+-----+-----+------------+
+------+-------+-----+-----+------------+

# **2.mtcars.csv file:**

In [56]:
from google.colab import files
files.upload()

Saving mtcars.csv to mtcars.csv

{'mtcars.csv': b'model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb\nMazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4\nMazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4\nDatsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1\nHornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1\nHornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2\nValiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1\nDuster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4\nMerc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2\nMerc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2\nMerc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4\nMerc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4\nMerc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3\nMerc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3\nMerc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3\nCadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4\nLincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4\nChrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4\nFiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1\nHonda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2\nToyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1\nToyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1\nDodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2\nAMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2\nCamaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4\nPontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2\nFiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1\nPorsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2\nLotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2\nFord Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4\nFerrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6\nMaserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8\nVolvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2\n'}

**1. Find the top five records of mpg attribute.**

In [68]:
df = spark.read.csv("mtcars.csv",header=True)

In [69]:
df.createOrReplaceTempView("cars")
spark.sql("select mpg from cars limit 5").show()

+----+
| mpg|
+----+
|  21|
|  21|
|22.8|
|21.4|
|18.7|
+----+

**2. Find out the records where the value of mpg is less than 18.**

In [70]:
spark.sql("select * from cars where mpg<18").show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|         Duster 360|14.3|  8|  360|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78|   18|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|  472|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|  460|215|   3|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|  440|230|3.23|5.345|17.42|  0|  0|   3|   4|
|   Dodge Challenger|15.5|  8|  318|150|2.76| 3.52|16.87|  0|  0|   3|   2|
|        AMC Javelin|15.2|  8|  304|150|3.15|3.435| 17.3|  0|  0|   3|   2|
|         Camaro Z28|13.3|  8|  350|245|3.73| 3.84|15.41|  0|  0|   3|   4|
|     Ford Pantera L|15.8|  8|  351|264|4.22| 3.17| 14.5|  0|  1|   5|   4|
|      Maserati Bora|  15|  8|  301|335|3.54| 3.57| 14.6|  0|  1|   5|   8|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+

**3. Add a new column to named as "wtTon" to dataframe with values of weight column multiplied by 0.45.**

In [74]:
car2=df.withColumn("wtTon",col("wt")*0.45)
car2.show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+------------------+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|             wtTon|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+------------------+
|          Mazda RX4|  21|  6|  160|110| 3.9| 2.62|16.46|  0|  1|   4|   4|             1.179|
|      Mazda RX4 Wag|  21|  6|  160|110| 3.9|2.875|17.02|  0|  1|   4|   4|           1.29375|
|         Datsun 710|22.8|  4|  108| 93|3.85| 2.32|18.61|  1|  1|   4|   1|             1.044|
|     Hornet 4 Drive|21.4|  6|  258|110|3.08|3.215|19.44|  1|  0|   3|   1|           1.44675|
|  Hornet Sportabout|18.7|  8|  360|175|3.15| 3.44|17.02|  0|  0|   3|   2|             1.548|
|            Valiant|18.1|  6|  225|105|2.76| 3.46|20.22|  1|  0|   3|   1|             1.557|
|         Duster 360|14.3|  8|  360|245|3.21| 3.57|15.84|  0|  0|   3|   4|            1.6065|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19|   20|  1|  0|   4|   2|            1.4355|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|            1.4175|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|             1.548|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|             1.548|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|1.8315000000000001|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|            1.6785|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78|   18|  0|  0|   3|   3|1.7009999999999998|
| Cadillac Fleetwood|10.4|  8|  472|205|2.93| 5.25|17.98|  0|  0|   3|   4|2.3625000000000003|
|Lincoln Continental|10.4|  8|  460|215|   3|5.424|17.82|  0|  0|   3|   4|2.4408000000000003|
|  Chrysler Imperial|14.7|  8|  440|230|3.23|5.345|17.42|  0|  0|   3|   4|           2.40525|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|0.9900000000000001|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|           0.72675|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|           0.82575|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+------------------+
only showing top 20 rows

**4. Compute the average weight of cars by their cylinders**

In [76]:
spark.sql("select avg(wt) from cars group by cyl").show()

+------------------+
|           avg(wt)|
+------------------+
|3.9992142857142867|
| 3.117142857142857|
| 2.285727272727273|
+------------------+

**5. Also sort the output of q.4**

In [81]:
spark.sql("select avg(wt) from cars group by cyl order by cyl").show()

+------------------+
|           avg(wt)|
+------------------+
| 2.285727272727273|
| 3.117142857142857|
|3.9992142857142867|
+------------------+

**6. Write a sql query to find gears where the value of cylinder lies between 4 and 9.**

In [88]:
spark.sql("select gear from cars where cyl between 4 and 9").show()

+----+
|gear|
+----+
|   4|
|   4|
|   4|
|   3|
|   3|
|   3|
|   3|
|   4|
|   4|
|   4|
|   4|
|   3|
|   3|
|   3|
|   3|
|   3|
|   3|
|   4|
|   4|
|   4|
+----+
only showing top 20 rows