In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('/1. Regression - Module - (Housing Prices).csv')

In [4]:
data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [5]:
data['Zipcode'].unique()

array([98178., 98125., 98028., 98136., 98074., 98053., 98003., 98198.,
       98146., 98038., 98007., 98115., 98107., 98126., 98019., 98103.,
       98002., 98133., 98040., 98092., 98030., 98119., 98112., 98052.,
       98027., 98117., 98058., 98001., 98056., 98166., 98023., 98070.,
       98148., 98105., 98042., 98008., 98059., 98122., 98144., 98004.,
       98005., 98034., 98075., 98116., 98010., 98118., 98199., 98032.,
       98045., 98102., 98077., 98108., 98168., 98177., 98065., 98029.,
       98006., 98109., 98022., 98033., 98155., 98024., 98011., 98031.,
       98106., 98072., 98188., 98014., 98055.,    nan, 98039.])

In [7]:
data['Sale Price'].mean().round(3)

540198.436

**Q FInd out the mean sale price with respect to both condition of the house and zipcode**

In [9]:
# initialize the new variable
data['Condition sale']=0

In [12]:
data['Condition of the House'].unique()

array(['Fair', 'Excellent', 'Good', 'Bad', 'Okay'], dtype=object)

In [13]:
c='Condition of the House'
z='Zipcode'

Calculating mean based on condition of the house and zipcode

In [19]:
import time
#Initialising a new column
data['zip_condition_sale'] = 0

C = 'Condition of the House'
Z = "Zipcode"

tick = time.time()
# Calculating mean based on the condition of the House and zipcode
for i in data[C].unique():
  for j in data[Z].unique() :
    data['zip_condition_sale'][(data[C] == str(i)) & (data[Z] == j) ] = data['Sale Price'][(data[C] == str(i)) & (data[Z] == j)].mean()
tock = time.time()
time1 = tock - tick
len(data['zip_condition_sale'].unique())

281

In [20]:
print(tick,tock)
print(time1)

1673069003.2846513 1673069005.1846814
1.9000301361083984

# groupby function

above method is not efficient so we have another solution group by

In [26]:
zip_condition_sale = data.groupby(['Condition of the House', 'Zipcode'])['Sale Price'].mean()

zip_condition_sale

Condition of the House  Zipcode
Bad                     98004.0    1.500000e+06
                        98006.0    3.725000e+05
                        98011.0    2.700000e+05
                        98023.0    1.500000e+05
                        98024.0    1.420000e+05
                                       ...
Okay                    98155.0    3.601833e+05
                        98166.0    2.165625e+05
                        98168.0    1.809389e+05
                        98178.0    1.750000e+05
                        98198.0    2.705325e+05
Name: Sale Price, Length: 283, dtype: float64

In [30]:
len(zip_condition_sale.unique())

280

# Pivot_Table Funtion

In [36]:
zip_condition_sale2  = pd.pivot_table(data, index=["Condition of the House","Zipcode"], values=["Sale Price"], aggfunc=np.mean)

In [40]:
zip_condition_sale2

                                  Sale Price
Condition of the House Zipcode
Bad                    98004.0  1.500000e+06
                       98006.0  3.725000e+05
                       98011.0  2.700000e+05
                       98023.0  1.500000e+05
                       98024.0  1.420000e+05
...                                      ...
Okay                   98155.0  3.601833e+05
                       98166.0  2.165625e+05
                       98168.0  1.809389e+05
                       98178.0  1.750000e+05
                       98198.0  2.705325e+05

[283 rows x 1 columns]

# Pandas Map Function


Q Find out plot length of plot area

In [41]:
data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Condition sale,zip_condition_sale
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,0,63,0,98178.0,47.5112,-122.257,1340.0,5650,0,309410.492386
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639,0,457826.833898
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,0,85,0,98028.0,47.7379,-122.233,2720.0,8062,0,463785.870192
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,910,53,0,98136.0,47.5208,-122.393,1360.0,5000,0,713929.545455
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,0,31,0,98074.0,47.6168,-122.045,1800.0,7503,0,701063.688312

In [42]:
data['Plot length']=data['Flat Area (in Sqft)']**0.5

In [43]:
data['Plot length'].head()

0    34.351128
1    50.695167
2    27.748874
3    44.271887
4    40.987803
Name: Plot length, dtype: float64

Q Calculating Total area of the House

In [44]:
data['Total_area']=data['Flat Area (in Sqft)']+data['Lot Area (in Sqft)']

In [45]:
data['Total_area'].head()

0     6830.0
1     9812.0
2    10770.0
3     6960.0
4     9760.0
Name: Total_area, dtype: float64

In [47]:
data['Condition of the House'][data['Condition of the House']=='Fair']='1'
data['Condition of the House'][data['Condition of the House']=='Okay']='0'
data['Condition of the House'][data['Condition of the House']=='Bad']='0'
data['Condition of the House'][data['Condition of the House']=='Good']='1'
data['Condition of the House'][data['Condition of the House']=='Excellent']='3'
data['Condition of the House'].unique()

array(['1', '3', '0'], dtype=object)

But we are repeating our code again and again
map function reducing size of the code

In [51]:
data['Condition of the House']=data['Condition of the House'].map({'Good':1,
                                                                   'Excellent':3,
                                                                   'Fair':1,
                                                                   'Bad':0,
                                                                   'Okay':0})

In [52]:
data['Condition of the House'].unique()

array([nan])

In [53]:
data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Condition sale,zip_condition_sale,Plot length,Total_area
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,0,98178.0,47.5112,-122.257,1340.0,5650,0,309410.492386,34.351128,6830.0
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,1991,98125.0,47.7210,-122.319,1690.0,7639,0,457826.833898,50.695167,9812.0
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,0,98028.0,47.7379,-122.233,2720.0,8062,0,463785.870192,27.748874,10770.0
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,0,98136.0,47.5208,-122.393,1360.0,5000,0,713929.545455,44.271887,6960.0
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,0,98074.0,47.6168,-122.045,1800.0,7503,0,701063.688312,40.987803,9760.0

In [54]:
data['Date House was Sold'].unique()

array(['14 October 2017', '14 December 2017', '15 February 2016',
       '14 May 2017', '14 June 2017', '15 January 2016', '15 April 2016',
       '15 March 2016', '14 July 2017', '14 August 2017',
       '14 November 2017', '14 September 2017', '15 May 2016'],
      dtype=object)

In [66]:
year = []
for i in range(len(data['Date House was Sold'])):
  k = data['Date House was Sold'][i].split()[-1]
  year.append(k)

data['year_sold'] = year
data['year_sold'].head()

0    2017
1    2017
2    2016
3    2017
4    2016
Name: year_sold, dtype: object

In [67]:
# using map function
def year(value):
  return value.split()[-1]

data['year_sold']=data['Date House was Sold'].map(year)
data['year_sold']

0        2017
1        2017
2        2016
3        2017
4        2016
         ...
21608    2017
21609    2016
21610    2017
21611    2016
21612    2017
Name: year_sold, Length: 21613, dtype: object